{% extends 'base.html' %} {% block head %}
<title>About Page</title>
{% endblock %} {% block body %}

<div class="whole">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="home">About Page</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti
          facilis impedit deleniti veritatis saepe officiis quisquam labore
          nisi, amet, dolorem aperiam cum vero fugiat. Nemo rem porro dolore
          deserunt ratione.
        </p>
        <p>This page is developed by <strong>GOKUL KRISHNA</strong></p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque
          eaque distinctio adipisci reiciendis debitis necessitatibus, omnis
          molestiae assumenda cum dolores at incidunt eveniet culpa voluptates
          nisi repellendus labore obcaecati iusto?
        </p>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>

{% endblock %}
