{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="container">
    <br>
    <h1 class="center">Home</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem quis aliquid
        nesciunt eos fuga quo minima quaerat! Consequatur quos suscipit, soluta esse, veniam voluptatibus nisi
        animi doloribus recusandae sit explicabo!</p>
    <br>
    <h2>What we do?</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem quis aliquid
        nesciunt eos fuga quo minima quaerat! Consequatur quos suscipit, soluta esse, veniam voluptatibus nisi
        animi doloribus recusandae sit explicabo!</p>
</div>

{% endblock %}